body {
    min-width: 1240px;
    margin: 0;
    padding: 0;
    font-size: 18px;
    line-height: 24px;
    font-family: "Arial", sans-serif;
    color: black;
    background-color: white;
}
.drevo {
	min-height: 1000px;
	border: 2px solid yellow;
}
.container {
    width: 1220px;
    margin: 0 auto;
	border: 2px solid green;
	text-align: center;
}
svg {
	
	background-color: blue;
	border: 2px solid red;
}
.raz {
	border: 2px solid red;
}
